@font-face {
  font-family: "Colfax";
  font-weight: normal;
  src: url("Colfax-Regular.woff") format("woff");
}

@font-face {
  font-family: "Colfax";
  font-weight: bold;
  src: url("Colfax-Bold.woff") format("woff");
}
