@font-face {
  font-family: "Colfax";
  src: url("Colfax-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ColfaxLighter";
  src: url("Colfax-Light.woff") format("woff");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "ColfaxBold";
  src: url("Colfax-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
