body {
  background-color: $body-background;
  color: $text-color;
}

.reveal {
  font-family: $sans-serif-lighter;
  font-size: $base-font-size;

  .progress {
    background-color: $progress-background;

    span {
      background-color: $progress-color;
    }
  }

  .slides > section {
    line-height: 1.3;
    font-weight: inherit;

    > section {
      line-height: 1.3;
      font-weight: inherit;
    }
  }

  h1, h2, h3 {
    color: $text-color;
    font-family: $sans-serif;
    letter-spacing: normal;
    line-height: 1.2;
    margin: 0 0 20px 0;
    text-shadow: none;
    text-transform: none;
    word-wrap: break-word;
  }

  h1 {
    font-size: $base-font-size * 2;
  }

  h2 {
    font-size: $base-font-size * 1.8;
  }

  h3 {
    font-size: $base-font-size * 1.4;
  }

  .day {
    font-size: $small-font-size;
    font-weight: normal;
    line-height: 1em;
    margin: 1em 0 0;
    opacity: 0.5;
  }

  p {
    margin: 20px 0;
    line-height: 1.3;
  }

  img,
  video,
  iframe {
    max-width: 95%;
    max-height: 95%;
  }

  .illustration {
    box-shadow: 0 2px 8px rgba($black, 0.2);
  }

  strong,
  b {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  ol,
  dl,
  ul {
    display: inline-block;
    text-align: left;
    margin: 0 0 0 1em;
  }

  ol {
    list-style-type: decimal;
  }

  ul {
    list-style-type: disc;

    li {
      margin: 0.5em 0;
    }

    ul {
      list-style-type: square;

      ul {
        list-style-type: circle;
      }

      display: block;
      margin-left: 40px;
    }

    ol {
      display: block;
      margin-left: 40px;
    }
  }

  ol {
    ol,
    ul {
      display: block;
      margin-left: 40px;
    }
  }

  dt {
    font-weight: bold;
  }

  dd {
    margin-left: 40px;
  }

  q {
    quotes: none;
  }

  blockquote {
    border-bottom: 2px solid $slate;
    border-top: 2px solid $slate;
    display: block;
    font-style: italic;
    margin: 20px auto;
    padding: 2em 0;
    position: relative;
    quotes: none;
    width: 70%;

    p {
      font-size: $large-font-size;

      &:first-child,
      &:last-child {
        display: inline-block;
      }

      &::before,
      &::after {
        content: "\""
      }
    }

    .author {
      color: $slate;
      font-size: $small-font-size;
    }
  }

  q {
    font-style: italic;
  }

  code {
    font-family: monospace;
  }

  pre {
    display: block;
    font-family: monospace;
    font-size: 0.55em;
    line-height: 1.2em;
    margin: 1em auto;
    padding: 0.5em;
    position: relative;
    text-align: left;
    width: 90%;
    word-wrap: break-word;

    code {
      display: block;
      padding: 5px;
      overflow: auto;
      max-height: 400px;
      word-wrap: normal;
      background: #3F3F3F;
      color: #DCDCDC;
    }
  }

  table {
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;

    th {
      font-weight: bold;
      text-align: left;
      padding: 0.2em 0.5em 0.2em 0.5em;
      border-bottom: 1px solid;
    }

    td {
      text-align: left;
      padding: 0.2em 0.5em 0.2em 0.5em;
      border-bottom: 1px solid;
    }

    th[align="center"],
    td[align="center"] {
      text-align: center;
    }

    th[align="right"],
    td[align="right"] {
      text-align: right;
    }

    tr:last-child td {
      border-bottom: none;
    }
  }

  sup {
    vertical-align: super;
  }

  sub {
    vertical-align: sub;
  }

  small {
    display: inline-block;
    font-size: 0.6em;
    line-height: 1.2em;
    vertical-align: top;

    * {
      vertical-align: top;
    }
  }

  a {
    color: #42affa;
    text-decoration: none;
    transition: color 0.15s ease;

    &:hover {
      color: #8dcffc;
      text-shadow: none;
      border: none;
    }
  }

  .roll span:after {
    color: #fff;
    background: #068ee9;
  }

  section img {
    margin: 15px 0px;
    vertical-align: middle;
  }

  a {
    img {
      transition: all 0.15s linear;
    }

    &:hover img {
      background: rgba(255, 255, 255, 0.2);
      border-color: #42affa;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
    }
  }

  .slide-number {
    color: #42affa;
  }

  .slides .has-dark-background * {
    color: $white;
  }

  .links {
    a {
      font-size: $small-font-size;
    }
  }

  .history {
    color: #AAA;
    font-size: 1.5em;

    &-google-ventures {
      max-width: 30%;
    }

    &-thoughtbot {
      max-height: 3em;
    }

    .divider {
      margin: 0 1em;
    }
  }

  .logo-thoughtbot {
    max-width: 50%;
  }

  .time {
    @extend small;
  }
}

::selection {
  color: #fff;
  background: #bee4fd;
  text-shadow: none;
}

.schedule-list {
  li {
    float: left;
    font-size: $small-font-size * 0.8;
    list-style: none;
    padding: 0 1%;
    text-align: center;
    width: 18%;

    h2 {
      font-size: $small-font-size * 0.9;
    }

    .day {
      font-size: $small-font-size * 0.6;
    }

    img {
      max-width: 80%;
    }
  }
}
