$slate: #393b44;
$red: #c52d2f;
$smoke: #eeeeee;
$white: #fff;
$black: #000;
$gray: #aaa;

$body-background: $white;
$text-color: $red;
$progress-background: $black;
$progress-color: $red;

$base-font-size: 32px;
$small-font-size: $base-font-size * 0.8;
$large-font-size: $base-font-size * 1.2;

$sans-serif: Colfax, Helvetica, sans-serif;
$sans-serif-bold: ColfaxBold, Helvetica, sans-serif;
$sans-serif-lighter: ColfaxLighter, Helvetica, sans-serif;
