<section data-background="{{ red }}">
  <img src="assets/converge.png">
  <h2 class="day">Day 3</h2>
  <h1>Converge</h1>
  <p>Bring all of it together in the Thunderdome</p>
</section>

<section>
  <p class="time">15 minutes</p>
  <h3>Pitch Practice</h3>
</section>

<section>
  <p class="time">1 hour</p>
  <h3>Identify Conflicts</h3>
</section>

<section>
  <p class="time">2 hours</p>
  <h3>Create Test Table from Assumptions</h3>
  <img src="assets/assumptions.jpg" class="illustration">
</section>

<section>
  <p class="time">2 hours</p>
  <h3>Whiteboard the final Storyboard</h3>
  <img src="assets/final-storyboard.jpg" class="illustration">
</section>

<section>
  <p class="time">1 hour</p>
  <h3>Review Backburner Board</h3>
  <img src="assets/backburner.jpg" class="illustration">
</section>

<section>
  <p class="time">1 hour</p>
  <h3>Create Testing Plan</h3>
</section>
