<section data-background="{{ red }}">
  <img src="assets/diverge.png">
  <h2 class="day">Day 2</h2>
  <h1>Diverge</h1>
  <p>Generate as many ideas as possible.<br>Draw til your hand falls off.</p>
</section>

<section>
  <h3>Pitch Practice</h3>
</section>

<section>
  <h3>Mind Mapping</h3>
  <img src="assets/mind-mapping.jpg" class="illustration">
</section>

<section>
  <h3>Crazy Eights</h3>
  <img src="assets/crazy-eights.jpg" class="illustration">
</section>

<section>
  <h3>Storyboard, Silent Critique &amp; Group Critique</h3>
  <img src="assets/storyboard.jpg" class="illustration">
</section>
