<section>
  <h1>Hi</h1>
  <p>I'm Joshua Ogle, designer at thoughtbot</p>
</section>

<section>
  <img src="assets/thoughtbot.svg">
</section>

<section>
  <h1>Why is product planning so hard?</h1>
  <ul>
    <li>The client wants to make sure the idea is valid before investing</li>
    <li>The developer won't know what questions to ask until they map the idea</li>
    <li>The designer's vision isn't tested against reality</li>
    <li>You can't estimate a budget until you dig in to the problem</li>
  </ul>
</section>

<section class="history">
  <p>
    <img src="assets/google-ventures.png" class="history-google-ventures">
    <span class="divider">&rarr;</span>
    <img src="assets/ralph.svg" class="history-thoughtbot">
    <span class="divider">&rarr;</span>
    You
  </p>
</section>

<section>
  <h1>Roles</h1>
  <p>
    <strong>Facilitator</strong>,
    <strong>Recorder</strong>, and
    <strong>Product Owner</strong>
  </p>
</section>

<section data-background="{{ red }}">
  <h1>A 5-day sprint</h1>
  <ul class="schedule-list">
    <li>
      <img src="assets/understand.png">
      <h3 class="day">Day 1</h3>
      <h2>Understand</h2>
    </li>
    <li>
      <img src="assets/diverge.png">
      <h3 class="day">Day 2</h3>
      <h2>Diverge</h2>
    </li>
    <li>
      <img src="assets/converge.png">
      <h3 class="day">Day 3</h3>
      <h2>Converge</h2>
    </li>
    <li>
      <img src="assets/prototype.png">
      <h3 class="day">Day 4</h3>
      <h2>Prototype</h2>
    </li>
    <li>
      <img src="assets/test.png">
      <h3 class="day">Day 5</h3>
      <h2>User Testing</h2>
    </li>
  </ul>
</section>
