<section>
  <h1>Howdy</h1>
  <p>I'm Joshua Ogle, designer at thoughtbot</p>
</section>

<section>
  <img src="assets/thoughtbot.svg" class="logo-thoughtbot">
</section>

<section class="history">
  <p>
    <img src="assets/google-ventures.png" class="history-google-ventures">
    <span class="divider">&rarr;</span>
    <img src="assets/ralph.svg" class="history-thoughtbot">
    <span class="divider">&rarr;</span>
    You
  </p>
</section>

<section>
  <h3>Planning products doesn't have to be hard</h3>
  <ul>
    <li>Product owners need to make sure the idea is valid</li>
    <li>Developers need to know what questions to ask</li>
    <li>Designers need to test their vision against reality</li>
    <li>You need to dig into the problem before you can estimate a budget</li>
  </ul>
</section>

<section data-background="{{ red }}">
  <h2>A 5-day sprint</h2>
  <ul class="schedule-list">
    <li>
      <img src="assets/understand.png">
      <h3 class="day">Day 1</h3>
      <h2>Understand</h2>
    </li>
    <li>
      <img src="assets/diverge.png">
      <h3 class="day">Day 2</h3>
      <h2>Diverge</h2>
    </li>
    <li>
      <img src="assets/converge.png">
      <h3 class="day">Day 3</h3>
      <h2>Converge</h2>
    </li>
    <li>
      <img src="assets/prototype.png">
      <h3 class="day">Day 4</h3>
      <h2>Prototype</h2>
    </li>
    <li>
      <img src="assets/test.png">
      <h3 class="day">Day 5</h3>
      <h2>User Testing</h2>
    </li>
  </ul>
</section>

<section>
  <h2>Roles</h2>
  <p>
    <strong>Facilitator</strong>,
    <strong>Recorder</strong>, and
    <strong>Product Owner</strong>
  </p>
</section>
