<section>
  <h1>Howdy</h1>
  <p>I'm Joshua Ogle, designer at thoughtbot</p>
</section>

<section>
  <img src="assets/thoughtbot.svg" class="logo-thoughtbot">
</section>

<section class="history">
  <p>
    <img src="assets/google-ventures.png" class="history-google-ventures">
    <span class="divider">&rarr;</span>
    <img src="assets/ralph.svg" class="history-thoughtbot">
    <span class="divider">&rarr;</span>
    You
  </p>
</section>

<section data-background="{{ red }}">
  <h3>Planning products doesn't have to be hard</h3>
</section>

<section>
  <img src="assets/example-facebookhome.jpg" class="illustration">
</section>

<section>
  <blockquote>
    <p>It’s a well-designed implementation of an idea no one wants.</p>
    <span class="author">
      John Gruber
      <a href="http://daringfireball.net/2013/05/facebook_home_dogfooding">
        on Facebook Home
      </a>
    </span>
  </blockquote>
</section>

<section>
  <blockquote>
    <p>Designing successful products means observing how real people solve problems now, exploring the context of the situation they are in, and then understanding causality, anxieties and, motivations.</p>
    <span class="author">
      Alan Klement -
      <a href="https://blog.intercom.io/using-job-stories-design-features-ui-ux/##Designing+successful+products+means+observing+how+real+people+solve+problems+now%2C+exploring+the+context+of+the+situation+they+are+in%2C+and+then+understanding+causality%2C+anxieties+and%2C+motivations">
        Designing features using job stories
      </a>
    </span>
  </blockquote>
</section>

<section>
  <h3>Rent before you buy</h3>
  <p>Product owners need to make sure the idea is valid</p>
</section>

<section data-background="{{ red }}">
  <h2>A 5-day sprint</h2>
  <ul class="schedule-list">
    <li>
      <img src="assets/understand.png">
      <h3 class="day">Day 1</h3>
      <h2>Understand</h2>
    </li>
    <li>
      <img src="assets/diverge.png">
      <h3 class="day">Day 2</h3>
      <h2>Diverge</h2>
    </li>
    <li>
      <img src="assets/converge.png">
      <h3 class="day">Day 3</h3>
      <h2>Converge</h2>
    </li>
    <li>
      <img src="assets/prototype.png">
      <h3 class="day">Day 4</h3>
      <h2>Prototype</h2>
    </li>
    <li>
      <img src="assets/test.png">
      <h3 class="day">Day 5</h3>
      <h2>User Testing</h2>
    </li>
  </ul>
</section>

<section>
  <h2>Roles</h2>
  <p>
    <strong>Facilitator</strong>,
    <strong>Recorder</strong>, and
    <strong>Product Owner</strong>
  </p>
</section>
