<section class="links">
  <p>
    <a href="https://github.com/thoughtbot/design-sprint">
      https://github.com/thoughtbot/design-sprint
    </a>
  </p>

  <p>
    <a href="http://github.com/joshuaogle/presentation-design-sprints">
      http://github.com/joshuaogle/presentation-design-sprints
    </a>
  </p>

  <p>
    <a href="http://github.com/joshuaogle/presentation-design-sprints">
      http://github.com/joshuaogle/presentation-design-sprints
    </a>
  </p>

  <p>
    <a href="http://twitter.com/joshuaogle">
      @joshuaogle
    </a>

    <a href="http://twitter.com/thoughtbot">
      @thoughtbot
    </a>
  </p>
</section>
