<section data-background="{{ red }}">
  <h2>Where to find out more</h2>
</section>

<section>
  <a href="https://robots.thoughtbot.com/the-product-design-sprint">
    "The Product Design Sprint"
    <img src="assets/resources-blog.png" class="illustration">
  </a>
</section>

<section>
  <a href="https://trello.com/b/lMmuSlkP/public-design-sprint-template">
    Design Sprint Trello Board
    <img src="assets/resources-trello.png" class="illustration">
  </a>
</section>

<section>
  <a href="https://github.com/thoughtbot/design-sprint">
    Design Sprint Github Repo
    <img src="assets/resources-github.png" class="illustration">
  </a>
</section>

<section class="links" data-background="{{ slate }}">
  <h3>Continue the conversation</h3>

  <p>
    <a href="http://github.com/joshuaogle/presentation-design-sprints">
      http://github.com/joshuaogle/presentation-design-sprints
    </a>
  </p>

  <p>
    <a href="http://twitter.com/joshuaogle">
      @joshuaogle
    </a>
  </p>

  <p>
    <a href="http://twitter.com/thoughtbot">
      @thoughtbot
    </a>
  </p>
</section>
