<section data-background="{{ red }}">
  <h2 class="day">Day -1</h2>
  <h1>Preparation</h1>
</section>

<section>
  <h2>Homework</h2>
  <ul>
    <li>What is the business opportunity?</li>
    <li>Who is the market?</li>
    <li>Who is the competition?</li>
  </ul>
</section>

<section>
  <h2>Setting up your war room</h2>
  <p>Whiteboard + markers, sticky notes, pencils, paper</p>
</section>

<section>
  <h2>Helpful if you have them</h2>
  <p>Sharpies, Circle stickers, Timer app</p>
</section>

<section>
  <h3>BitTimer</h3>
  <img src="assets/resources-bittimer.jpg" class="illustration">
</section>

<section>
  <h2>One more thing</h2>
  <p>A big idea</p>
</section>

<section>
  <h2>Schedule about 5 user interviews</h2>
  <p>30-45 minutes each</p>
  <p>Space them out at least 30 minutes apart</p>
</section>
