<section>
  <h2>Homework</h2>
  <ul>
    <li>What is the business opportunity?</li>
    <li>Who is the competition?</li>
    <li>What is the market?</li>
  </ul>
</section>

<section>
  <h2>Setting up your war room</h2>
  <p>Whiteboard + markers, sticky notes, pencils, paper</p>
</section>

<section>
  <h2>Helpful if you have them</h2>
  <p>Sharpies, Circle stickers, Timer app</p>
</section>

<section>
  <h2>One more thing</h2>
  <p>A big idea</p>
</section>

<section>
  <h2>Schedule about 5 user interviews</h2>
</section>
