<section data-background="{{ red }}">
  <img src="assets/prototype.png">
  <h2 class="day">Day 4</h2>
  <h1>Prototype</h1>
  <p>Crap. We're out of coffee.</p>
</section>

<section>
  <blockquote>
    <p>Prototyping is about asking reality for feedback.</p>
    <span class="author">Stephen Hay</span>
  </blockquote>
</section>

<section>
  <h3>Write Copy &amp; Get Data</h3>
</section>

<section>
  <h3>Create Prototype</h3>
  <p>Clickable Images vs Static HTML Pages</p>
</section>

<section data-background="{{ smoke }}">
  <img src="assets/logo-marvel.svg"><br>
  <img src="assets/example-marvel.jpg" class="illustration">
</section>

<section data-background="{{ smoke }}">
  <img src="assets/logo-invision.png"><br>
  <img src="assets/example-invision.png" class="illustration">
</section>

<section data-background="{{ smoke }}">
  <img src="assets/logo-principle.png"><br>
  <img src="assets/example-principle.png" class="illustration">
</section>

<section>
  <img src="assets/logo-ionic.png"><br>
  <img src="assets/resources-ionic.png" class="illustration">
</section>

<section data-background="{{ smoke }}">
  <img src="assets/example-middleman.png" class="illustration">
</section>

<section data-background="{{ smoke }}">
  <img src="assets/example-proteus.png" class="illustration">
</section>

<section data-background="{{ smoke }}">
  <img src="assets/example-bourbon.png" class="illustration">
</section>
