<section data-background="{{ red }}">
  <img src="assets/test.png">
  <h2 class="day">Day 5</h2>
  <h1>User testing</h1>
</section>

<section>
  <blockquote>
    <p>Be wary of feedback that contradicts reaction. Lean in close and watch how people use it — before they think.</p>
    <span class="author">
      Jake Knapp -
      <a href="https://medium.com/@jakek/reactions-feedback-dc1ea9a06ce0">
        Reactions > Feedback
      </a>
    </span>
</section>

<section>
  <h3>Interview &amp; Observe</h3>
</section>

<section>
  <p class="time">1 hour</p>
  <h3>Review What You Learned</h3>
</section>

<section>
  <p class="time">2 hours</p>
  <h3>Make a Plan for Going Forward</h3>
</section>
