<section data-background="{{ red }}">
  <img src="assets/understand.png">
  <h2 class="day">Day 1</h2>
  <h1>Understand</h1>
  <p>Quickly develop context, focus direction,<br>and expose risky knowledge gaps.</p>
</section>

<section>
  <p class="time">15 minutes</p>
  <h3>Pitch Practice</h3>
</section>

<section>
  <p class="time">2-4 hours</p>
  <h3>Review Research</h3>
  <ul>
    <li>User Demand</li>
    <li>Analytics</li>
    <li>Stories</li>
  </ul>
</section>

<section>
  <p class="time">1 hour</p>
  <h3>Problem Statement</h3>
  <img src="assets/problem-statement.jpg" class="illustration">
</section>

<section>
  <p class="time">15 minutes</p>
  <h3>Backburner Board</h3>
  <img src="assets/backburner.jpg" class="illustration">
</section>

<section>
  <p class="time">15 minutes</p>
  <h3>Assumption Board</h3>
</section>

<section>
  <p class="time">1 hour</p>
  <h3>Critical Path</h3>
  <img src="assets/critical-path.jpg" class="illustration">
</section>

<section>
  <p class="time">1 hour</p>
  <h3>Card Sorting</h3>
  <img src="assets/card-sorting.gif" class="illustration">
</section>
