!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %title Presentation
    %meta{content: "yes", name: "apple-mobile-web-app-capable"}
    %meta{content: "black-translucent", name: "apple-mobile-web-app-status-bar-style"}
    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", name: "viewport"}
    %link{href: "/assets/slides.css", rel: "stylesheet"}
    %script{src: "/assets/slides.js"}

  %body
    %main.reveal
      %article.slides

        %section
          %h1 Slide Title

        %section
          %h1 Slide Title 2

          %pre
            %code
              body {
                color: #fff;
              }

        %section
          %h1 Slide Title 3

        %section
          %h1 Slide Title 4

        %section
          %h1 Slide Title 5
