<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Presentation</title>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
    <link href="assets/slides.css" rel="stylesheet"></link>
    <script src="assets/slides.js"></script>
  </head>
  <body>
    <main class="reveal">
      <article class="slides">
        {% block slides %}
        {% endblock %}
    </main>
  </body>
</html>
