{% extends "layout.html" %}

{% block slides %}
  <section data-background="{{ slate }}">
    <h1>Product Design Sprints</h1>
  </section>

  <section>
    <h1>Product Design Sprint</h1>
  </section>

  <section data-background="{{ red }}">
    <img src="assets/understand.png">
    <h2 class="day">Day 1</h2>
    <h1>Understand</h1>
  </section>

  <section data-background="{{ red }}">
    <img src="assets/diverge.png">
    <h2 class="day">Day 2</h2>
    <h1>Diverge</h1>
  </section>

  <section data-background="{{ red }}">
    <img src="assets/converge.png">
    <h2 class="day">Day 3</h2>
    <h1>Converge</h1>
  </section>

  <section data-background="{{ red }}">
    <img src="assets/prototype.png">
    <h2 class="day">Day 4</h2>
    <h1>Prototype</h1>
  </section>

  <section data-background="{{ red }}">
    <img src="assets/test.png">
    <h2 class="day">Day 5</h2>
    <h1>User testing</h1>
  </section>

  <section class="links">
    <p>
      <a href="http://github.com/joshuaogle/presentation-design-sprints">
        http://github.com/joshuaogle/presentation-design-sprints
      </a>
    </p>

    <p>
      <a href="http://github.com/joshuaogle/presentation-design-sprints">
        http://github.com/joshuaogle/presentation-design-sprints
      </a>
    </p>
  </section>
{% endblock %}
