@import "../node_modules/reveal.js/css/reveal.scss";
@import "../node_modules/reveal.js/css/theme/source/black.scss";

//as .css file imports will compile to CSS @import rules, the following is necessary since the url in black.scss will be wrong
@import "../node_modules/reveal.js/lib/font/source-sans-pro/source-sans-pro.css";


//insert scss here